In [ ]:
#Distributed Data 
#Data--> anytype -->Structured data:RDBMS name(varchar),age(int),salary(float)-->insert into  values('2murali',42,12.022)\
                #-->semi structure:nosql,Json,Auro,parquet,orc,hive
                #unstructure :.txt,.csv.tsv
                #df

In [ ]:
#RDD --> core for Spark
#logic sql syntax format  sql engine --> sql funnctional program
#spar sql(engine):
    #
#operations: sql syntaxes
#SCHEMA DATA=SCHEMA RDD =DATA FRAMES = FORM OF ROWS
# every RDD is a dataframe 
#every data frame is not RDD
# earlier (spark confi + SparContext +SqlCOntext )=SparkSession

In [2]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("").master("local[3]").getOrCreate()

In [6]:
spark

In [10]:
employee = spark.read.json(r"C:\Users\user1\pyspark_env\employee.json")

In [11]:
type(employee)

pyspark.sql.dataframe.DataFrame

In [12]:
employee.printSchema()

root
 |-- _corrupt_record: string (nullable = true)

In [13]:
employee.columns

['_corrupt_record']

In [14]:
employee = spark.read.json(r"C:\Users\user1\pyspark_env\employee.json")

In [15]:
employee_D = spark.read.json(r"C:\Users\user1\pyspark_env\employees_data.json")

In [16]:
type(employee_D)

pyspark.sql.dataframe.DataFrame

In [17]:
employee_D.printSchema()

root
 |-- _corrupt_record: string (nullable = true)
 |-- department: string (nullable = true)
 |-- emp_id: long (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- salary: long (nullable = true)

In [18]:
employee_D.columns

['_corrupt_record', 'department', 'emp_id', 'emp_name', 'salary']

In [19]:
employee_D.schema

StructType([StructField('_corrupt_record', StringType(), True), StructField('department', StringType(), True), StructField('emp_id', LongType(), True), StructField('emp_name', StringType(), True), StructField('salary', LongType(), True)])

In [20]:
employee_D.show()

+---------------+----------+------+--------+------+
|_corrupt_record|department|emp_id|emp_name|salary|
+---------------+----------+------+--------+------+
|              [|      NULL|  NULL|    NULL|  NULL|
|           NULL|        IT|   201|     Raj| 65000|
|           NULL|   Finance|   202|   Meena| 58000|
|           NULL|        HR|   203|   Kiran| 60000|
|              ]|      NULL|  NULL|    NULL|  NULL|
+---------------+----------+------+--------+------+

In [21]:
employee_D.collect()

[Row(_corrupt_record='[', department=None, emp_id=None, emp_name=None, salary=None),
 Row(_corrupt_record=None, department='IT', emp_id=201, emp_name='Raj', salary=65000),
 Row(_corrupt_record=None, department='Finance', emp_id=202, emp_name='Meena', salary=58000),
 Row(_corrupt_record=None, department='HR', emp_id=203, emp_name='Kiran', salary=60000),
 Row(_corrupt_record=']', department=None, emp_id=None, emp_name=None, salary=None)]

In [22]:
employee_D = spark.read.format('json').load(r"C:\Users\user1\pyspark_env\employees_data.json")

In [23]:
type(employee_D)

pyspark.sql.dataframe.DataFrame

In [71]:
sales = spark.read.format('csv').load(r"C:\Users\user1\pyspark_env\sales_data_clean.csv")

In [ ]:
sales.spark.read.format('csv').load(r"C:\Users\user1\pyspark_env\sales_data_clean.csv")

In [26]:
sales.show()

+-------+----------+------+--------+--------+----------+-----------+
|    _c0|       _c1|   _c2|     _c3|     _c4|       _c5|        _c6|
+-------+----------+------+--------+--------+----------+-----------+
|sale_id|      date|region| product|quantity|unit_price|total_sales|
|      1|2025-01-02|  East| Monitor|       8|  42106.76|  336854.08|
|      2|2025-01-03|  East|   Mouse|       3|   7448.26|   22344.78|
|      3|2025-01-04|  East| Printer|       4|  10429.24|   41716.96|
|      4|2025-01-05|  East| Printer|       2|  50678.91|  101357.82|
|      5|2025-01-06| South|   Mouse|       5|  43414.96|   217074.8|
|      6|2025-01-07| South| Printer|       9|  20740.43|  186663.87|
|      7|2025-01-08|  East|   Mouse|       3|  27081.11|   81243.33|
|      8|2025-01-09|  West|  Laptop|       3|  60265.86|  180797.58|
|      9|2025-01-10|  East| Printer|       9|   5021.09|   45189.81|
|     10|2025-01-11|  West|  Laptop|       2|  27286.45|    54572.9|
|     11|2025-01-12| South| Printer|       2|   48054.2|    96108.4|
|     12|2025-01-13|  East| Monitor|       7|  42894.77|  300263.39|
|     13|2025-01-14|  West|Keyboard|       1|  18485.21|   18485.21|
|     14|2025-01-15|  West| Monitor|       2|  30048.33|   60096.66|
|     15|2025-01-16| South|   Mouse|       4|  13347.38|   53389.52|
|     16|2025-01-17|  East|   Mouse|       2|  27962.94|   55925.88|
|     17|2025-01-18|  West| Monitor|       9|  67301.46|  605713.14|
|     18|2025-01-19| North| Printer|       2|   38008.6|    76017.2|
|     19|2025-01-20|  West|   Mouse|       9|  20024.95|  180224.55|
+-------+----------+------+--------+--------+----------+-----------+
only showing top 20 rows

In [25]:
sales.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [73]:
sales = spark.read.format('csv')\
    .option('header',True).option('inferSchema',True)\
    .load(r"C:\Users\user1\pyspark_env\sales_data_clean.csv")

In [29]:
sales.printSchema()

root
 |-- sale_id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- region: string (nullable = true)
 |-- product: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- total_sales: double (nullable = true)

In [30]:
sales.show()

+-------+----------+------+--------+--------+----------+-----------+
|sale_id|      date|region| product|quantity|unit_price|total_sales|
+-------+----------+------+--------+--------+----------+-----------+
|      1|2025-01-02|  East| Monitor|       8|  42106.76|  336854.08|
|      2|2025-01-03|  East|   Mouse|       3|   7448.26|   22344.78|
|      3|2025-01-04|  East| Printer|       4|  10429.24|   41716.96|
|      4|2025-01-05|  East| Printer|       2|  50678.91|  101357.82|
|      5|2025-01-06| South|   Mouse|       5|  43414.96|   217074.8|
|      6|2025-01-07| South| Printer|       9|  20740.43|  186663.87|
|      7|2025-01-08|  East|   Mouse|       3|  27081.11|   81243.33|
|      8|2025-01-09|  West|  Laptop|       3|  60265.86|  180797.58|
|      9|2025-01-10|  East| Printer|       9|   5021.09|   45189.81|
|     10|2025-01-11|  West|  Laptop|       2|  27286.45|    54572.9|
|     11|2025-01-12| South| Printer|       2|   48054.2|    96108.4|
|     12|2025-01-13|  East| Monitor|       7|  42894.77|  300263.39|
|     13|2025-01-14|  West|Keyboard|       1|  18485.21|   18485.21|
|     14|2025-01-15|  West| Monitor|       2|  30048.33|   60096.66|
|     15|2025-01-16| South|   Mouse|       4|  13347.38|   53389.52|
|     16|2025-01-17|  East|   Mouse|       2|  27962.94|   55925.88|
|     17|2025-01-18|  West| Monitor|       9|  67301.46|  605713.14|
|     18|2025-01-19| North| Printer|       2|   38008.6|    76017.2|
|     19|2025-01-20|  West|   Mouse|       9|  20024.95|  180224.55|
|     20|2025-01-21|  West| Printer|       9|  21091.01|  189819.09|
+-------+----------+------+--------+--------+----------+-----------+
only showing top 20 rows

In [31]:
sales.show(3)

+-------+----------+------+-------+--------+----------+-----------+
|sale_id|      date|region|product|quantity|unit_price|total_sales|
+-------+----------+------+-------+--------+----------+-----------+
|      1|2025-01-02|  East|Monitor|       8|  42106.76|  336854.08|
|      2|2025-01-03|  East|  Mouse|       3|   7448.26|   22344.78|
|      3|2025-01-04|  East|Printer|       4|  10429.24|   41716.96|
+-------+----------+------+-------+--------+----------+-----------+
only showing top 3 rows

In [32]:
sales.show(5)

+-------+----------+------+-------+--------+----------+-----------+
|sale_id|      date|region|product|quantity|unit_price|total_sales|
+-------+----------+------+-------+--------+----------+-----------+
|      1|2025-01-02|  East|Monitor|       8|  42106.76|  336854.08|
|      2|2025-01-03|  East|  Mouse|       3|   7448.26|   22344.78|
|      3|2025-01-04|  East|Printer|       4|  10429.24|   41716.96|
|      4|2025-01-05|  East|Printer|       2|  50678.91|  101357.82|
|      5|2025-01-06| South|  Mouse|       5|  43414.96|   217074.8|
+-------+----------+------+-------+--------+----------+-----------+
only showing top 5 rows

In [34]:
sa=sales.select('sale_id','unit_price')

In [35]:
sa.printSchema()

root
 |-- sale_id: integer (nullable = true)
 |-- unit_price: double (nullable = true)

In [36]:
sales.printSchema()

root
 |-- sale_id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- region: string (nullable = true)
 |-- product: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- total_sales: double (nullable = true)

In [37]:
sa.show()

+-------+----------+
|sale_id|unit_price|
+-------+----------+
|      1|  42106.76|
|      2|   7448.26|
|      3|  10429.24|
|      4|  50678.91|
|      5|  43414.96|
|      6|  20740.43|
|      7|  27081.11|
|      8|  60265.86|
|      9|   5021.09|
|     10|  27286.45|
|     11|   48054.2|
|     12|  42894.77|
|     13|  18485.21|
|     14|  30048.33|
|     15|  13347.38|
|     16|  27962.94|
|     17|  67301.46|
|     18|   38008.6|
|     19|  20024.95|
|     20|  21091.01|
+-------+----------+
only showing top 20 rows

In [38]:
type(sa)

pyspark.sql.dataframe.DataFrame

In [44]:
sa=sales.select(sales['sale_id'],sales['unit_price'])
sa.show()

+-------+----------+
|sale_id|unit_price|
+-------+----------+
|      1|  42106.76|
|      2|   7448.26|
|      3|  10429.24|
|      4|  50678.91|
|      5|  43414.96|
|      6|  20740.43|
|      7|  27081.11|
|      8|  60265.86|
|      9|   5021.09|
|     10|  27286.45|
|     11|   48054.2|
|     12|  42894.77|
|     13|  18485.21|
|     14|  30048.33|
|     15|  13347.38|
|     16|  27962.94|
|     17|  67301.46|
|     18|   38008.6|
|     19|  20024.95|
|     20|  21091.01|
+-------+----------+
only showing top 20 rows

In [45]:
type(sa)

pyspark.sql.dataframe.DataFrame

In [48]:
sa=sales.select(sales.sale_id,sales.unit_price,sales.quantity)
sa.show()

+-------+----------+--------+
|sale_id|unit_price|quantity|
+-------+----------+--------+
|      1|  42106.76|       8|
|      2|   7448.26|       3|
|      3|  10429.24|       4|
|      4|  50678.91|       2|
|      5|  43414.96|       5|
|      6|  20740.43|       9|
|      7|  27081.11|       3|
|      8|  60265.86|       3|
|      9|   5021.09|       9|
|     10|  27286.45|       2|
|     11|   48054.2|       2|
|     12|  42894.77|       7|
|     13|  18485.21|       1|
|     14|  30048.33|       2|
|     15|  13347.38|       4|
|     16|  27962.94|       2|
|     17|  67301.46|       9|
|     18|   38008.6|       2|
|     19|  20024.95|       9|
|     20|  21091.01|       9|
+-------+----------+--------+
only showing top 20 rows

In [49]:
sa.show()

+-------+----------+--------+
|sale_id|unit_price|quantity|
+-------+----------+--------+
|      1|  42106.76|       8|
|      2|   7448.26|       3|
|      3|  10429.24|       4|
|      4|  50678.91|       2|
|      5|  43414.96|       5|
|      6|  20740.43|       9|
|      7|  27081.11|       3|
|      8|  60265.86|       3|
|      9|   5021.09|       9|
|     10|  27286.45|       2|
|     11|   48054.2|       2|
|     12|  42894.77|       7|
|     13|  18485.21|       1|
|     14|  30048.33|       2|
|     15|  13347.38|       4|
|     16|  27962.94|       2|
|     17|  67301.46|       9|
|     18|   38008.6|       2|
|     19|  20024.95|       9|
|     20|  21091.01|       9|
+-------+----------+--------+
only showing top 20 rows

In [55]:
qty=sales.where(sales['quantity'] >6).select(sales.sale_id,sales.unit_price,sales.quantity)
qty.show(30)

+-------+----------+--------+
|sale_id|unit_price|quantity|
+-------+----------+--------+
|      1|  42106.76|       8|
|      6|  20740.43|       9|
|      9|   5021.09|       9|
|     12|  42894.77|       7|
|     17|  67301.46|       9|
|     19|  20024.95|       9|
|     20|  21091.01|       9|
|     21|  69088.64|       9|
|     22|    883.79|       8|
|     25|  59577.68|       7|
|     30|  49891.07|       9|
|     33|  42507.01|       7|
|     36|   7831.85|       9|
|     38|  62778.35|       7|
|     41|  34195.68|       9|
|     42|  66032.22|       8|
|     49|  53432.56|       7|
|     52|  22794.21|       9|
|     57|  10057.71|       8|
|     58|  15030.48|       9|
|     60|  36406.19|       9|
|     63|  24770.07|       9|
|     65|  59639.53|       8|
|     67|  46613.37|       9|
|     69|  12726.81|       9|
|     85|  49322.64|       9|
|     86|  29674.77|       7|
|     87|  63970.22|       8|
|     91|  11275.39|       9|
|     99|  17934.81|       7|
+-------+----------+--------+
only showing top 30 rows

In [57]:
ob=qty.orderBy('quantity')
ob.show(30)

+-------+----------+--------+
|sale_id|unit_price|quantity|
+-------+----------+--------+
|     12|  42894.77|       7|
|     25|  59577.68|       7|
|     33|  42507.01|       7|
|     38|  62778.35|       7|
|     49|  53432.56|       7|
|     86|  29674.77|       7|
|     99|  17934.81|       7|
|    100|  30267.86|       7|
|      1|  42106.76|       8|
|     22|    883.79|       8|
|     42|  66032.22|       8|
|     57|  10057.71|       8|
|     65|  59639.53|       8|
|     87|  63970.22|       8|
|      6|  20740.43|       9|
|      9|   5021.09|       9|
|     17|  67301.46|       9|
|     19|  20024.95|       9|
|     20|  21091.01|       9|
|     21|  69088.64|       9|
|     30|  49891.07|       9|
|     36|   7831.85|       9|
|     41|  34195.68|       9|
|     52|  22794.21|       9|
|     58|  15030.48|       9|
|     60|  36406.19|       9|
|     63|  24770.07|       9|
|     67|  46613.37|       9|
|     69|  12726.81|       9|
|     85|  49322.64|       9|
+-------+----------+--------+
only showing top 30 rows

In [80]:
qty=sales.orderBy('quantity')
qty.show(30)
type(qty)

+-------+----------+------+--------+--------+----------+-----------+
|sale_id|      date|region| product|quantity|unit_price|total_sales|
+-------+----------+------+--------+--------+----------+-----------+
|     13|2025-01-14|  West|Keyboard|       1|  18485.21|   18485.21|
|     23|2025-01-24|  East|Keyboard|       1|  49938.27|   49938.27|
|     26|2025-01-27|  West|   Mouse|       1|   4917.31|    4917.31|
|     29|2025-01-30| North|Keyboard|       1|   50660.2|    50660.2|
|     39|2025-02-09|  East|  Laptop|       1|  16341.49|   16341.49|
|     46|2025-02-16| North|  Laptop|       1|  68374.74|   68374.74|
|     47|2025-02-17|  West| Printer|       1|  44587.42|   44587.42|
|     56|2025-02-26|  West|  Laptop|       1|  28131.26|   28131.26|
|     61|2025-03-03| North|   Mouse|       1|   6970.64|    6970.64|
|     71|2025-03-13|  West|Keyboard|       1|  21910.23|   21910.23|
|     75|2025-03-17| North| Monitor|       1|  14069.39|   14069.39|
|     98|2025-04-09| South|Keyboard|       1|  28218.05|   28218.05|
|      4|2025-01-05|  East| Printer|       2|  50678.91|  101357.82|
|     10|2025-01-11|  West|  Laptop|       2|  27286.45|    54572.9|
|     11|2025-01-12| South| Printer|       2|   48054.2|    96108.4|
|     14|2025-01-15|  West| Monitor|       2|  30048.33|   60096.66|
|     16|2025-01-17|  East|   Mouse|       2|  27962.94|   55925.88|
|     18|2025-01-19| North| Printer|       2|   38008.6|    76017.2|
|     68|2025-03-10| North|   Mouse|       2|  34250.16|   68500.32|
|     74|2025-03-16|  East|Keyboard|       2|  24830.45|    49660.9|
|     81|2025-03-23| North|Keyboard|       2|  39197.69|   78395.38|
|     84|2025-03-26|  East|Keyboard|       2|  22917.28|   45834.56|
|     90|2025-04-01|  West|   Mouse|       2|  30973.95|    61947.9|
|     97|2025-04-08|  East| Monitor|       2|  36382.87|   72765.74|
|      2|2025-01-03|  East|   Mouse|       3|   7448.26|   22344.78|
|      7|2025-01-08|  East|   Mouse|       3|  27081.11|   81243.33|
|      8|2025-01-09|  West|  Laptop|       3|  60265.86|  180797.58|
|     27|2025-01-28|  East| Printer|       3|   41595.2|   124785.6|
|     28|2025-01-29| South|Keyboard|       3|  33318.94|   99956.82|
|     31|2025-02-01| South|   Mouse|       3|   2684.33|    8052.99|
+-------+----------+------+--------+--------+----------+-----------+
only showing top 30 rows

pyspark.sql.dataframe.DataFrame

In [60]:
sales.orderBy(sales['quantity'].desc()).show(30)

+-------+----------+------+--------+--------+----------+-----------+
|sale_id|      date|region| product|quantity|unit_price|total_sales|
+-------+----------+------+--------+--------+----------+-----------+
|      6|2025-01-07| South| Printer|       9|  20740.43|  186663.87|
|      9|2025-01-10|  East| Printer|       9|   5021.09|   45189.81|
|     17|2025-01-18|  West| Monitor|       9|  67301.46|  605713.14|
|     19|2025-01-20|  West|   Mouse|       9|  20024.95|  180224.55|
|     20|2025-01-21|  West| Printer|       9|  21091.01|  189819.09|
|     21|2025-01-22| North|  Laptop|       9|  69088.64|  621797.76|
|     30|2025-01-31|  East|Keyboard|       9|  49891.07|  449019.63|
|     67|2025-03-09| South|Keyboard|       9|  46613.37|  419520.33|
|     36|2025-02-06| South|   Mouse|       9|   7831.85|   70486.65|
|     41|2025-02-11|  East|Keyboard|       9|  34195.68|  307761.12|
|     52|2025-02-22|  East|  Laptop|       9|  22794.21|  205147.89|
|     58|2025-02-28|  West|  Laptop|       9|  15030.48|  135274.32|
|     60|2025-03-02|  West|   Mouse|       9|  36406.19|  327655.71|
|     63|2025-03-05|  East|  Laptop|       9|  24770.07|  222930.63|
|     69|2025-03-11|  East| Printer|       9|  12726.81|  114541.29|
|     85|2025-03-27|  West|  Laptop|       9|  49322.64|  443903.76|
|     91|2025-04-02|  East|Keyboard|       9|  11275.39|  101478.51|
|      1|2025-01-02|  East| Monitor|       8|  42106.76|  336854.08|
|     22|2025-01-23|  West|  Laptop|       8|    883.79|    7070.32|
|     42|2025-02-12| North|Keyboard|       8|  66032.22|  528257.76|
|     57|2025-02-27|  East|   Mouse|       8|  10057.71|   80461.68|
|     65|2025-03-07|  West|  Laptop|       8|  59639.53|  477116.24|
|     87|2025-03-29| South|  Laptop|       8|  63970.22|  511761.76|
|     12|2025-01-13|  East| Monitor|       7|  42894.77|  300263.39|
|     25|2025-01-26| South|  Laptop|       7|  59577.68|  417043.76|
|     33|2025-02-03|  West| Printer|       7|  42507.01|  297549.07|
|     38|2025-02-08|  East|   Mouse|       7|  62778.35|  439448.45|
|     49|2025-02-19|  West| Monitor|       7|  53432.56|  374027.92|
|     86|2025-03-28|  West| Printer|       7|  29674.77|  207723.39|
|     99|2025-04-10|  East| Monitor|       7|  17934.81|  125543.67|
+-------+----------+------+--------+--------+----------+-----------+
only showing top 30 rows

In [62]:
gp_pr=sales.groupby(sales['product']).count().show()

+--------+-----+
| product|count|
+--------+-----+
|  Laptop|   24|
|   Mouse|   22|
| Printer|   20|
|Keyboard|   20|
| Monitor|   14|
+--------+-----+

In [79]:
gp_region=sales.groupby(sales['product'],sales['region']).count().show()
type(gp_region)

+--------+------+-----+
| product|region|count|
+--------+------+-----+
| Printer|  West|    6|
|  Laptop|  East|    6|
| Monitor|  West|    5|
| Monitor| North|    4|
|Keyboard|  East|   10|
|Keyboard| North|    4|
|Keyboard|  West|    3|
| Monitor|  East|    5|
| Printer|  East|    5|
|   Mouse| South|    5|
|  Laptop| North|    3|
|   Mouse| North|    3|
|Keyboard| South|    3|
|   Mouse|  East|    8|
|   Mouse|  West|    6|
| Printer| North|    2|
|  Laptop| South|    6|
| Printer| South|    7|
|  Laptop|  West|    9|
+--------+------+-----+

NoneType

In [76]:
gp_region.where(gp_region['count']>5).show()

AttributeError: 'NoneType' object has no attribute 'where'

In [81]:
qty.show()

+-------+----------+------+--------+--------+----------+-----------+
|sale_id|      date|region| product|quantity|unit_price|total_sales|
+-------+----------+------+--------+--------+----------+-----------+
|     46|2025-02-16| North|  Laptop|       1|  68374.74|   68374.74|
|     98|2025-04-09| South|Keyboard|       1|  28218.05|   28218.05|
|     47|2025-02-17|  West| Printer|       1|  44587.42|   44587.42|
|     13|2025-01-14|  West|Keyboard|       1|  18485.21|   18485.21|
|     26|2025-01-27|  West|   Mouse|       1|   4917.31|    4917.31|
|     29|2025-01-30| North|Keyboard|       1|   50660.2|    50660.2|
|     39|2025-02-09|  East|  Laptop|       1|  16341.49|   16341.49|
|     23|2025-01-24|  East|Keyboard|       1|  49938.27|   49938.27|
|     56|2025-02-26|  West|  Laptop|       1|  28131.26|   28131.26|
|     61|2025-03-03| North|   Mouse|       1|   6970.64|    6970.64|
|     71|2025-03-13|  West|Keyboard|       1|  21910.23|   21910.23|
|     75|2025-03-17| North| Monitor|       1|  14069.39|   14069.39|
|     18|2025-01-19| North| Printer|       2|   38008.6|    76017.2|
|     10|2025-01-11|  West|  Laptop|       2|  27286.45|    54572.9|
|     68|2025-03-10| North|   Mouse|       2|  34250.16|   68500.32|
|     74|2025-03-16|  East|Keyboard|       2|  24830.45|    49660.9|
|     81|2025-03-23| North|Keyboard|       2|  39197.69|   78395.38|
|     11|2025-01-12| South| Printer|       2|   48054.2|    96108.4|
|     84|2025-03-26|  East|Keyboard|       2|  22917.28|   45834.56|
|     16|2025-01-17|  East|   Mouse|       2|  27962.94|   55925.88|
+-------+----------+------+--------+--------+----------+-----------+
only showing top 20 rows

In [84]:
gp_reg=qty.groupby('region','product').count()
type(gp_reg)

pyspark.sql.dataframe.DataFrame

In [87]:
gp_reg.show()

+------+--------+-----+
|region| product|count|
+------+--------+-----+
| North|  Laptop|    3|
| South|   Mouse|    5|
|  West| Printer|    6|
| South|Keyboard|    3|
|  East|  Laptop|    6|
|  West|   Mouse|    6|
| North|Keyboard|    4|
| North| Printer|    2|
| North|   Mouse|    3|
|  West|Keyboard|    3|
|  West| Monitor|    5|
|  East|   Mouse|    8|
|  East| Monitor|    5|
| South| Printer|    7|
|  East| Printer|    5|
|  East|Keyboard|   10|
| South|  Laptop|    6|
| North| Monitor|    4|
|  West|  Laptop|    9|
+------+--------+-----+

In [88]:
gp_reg.printSchema()

root
 |-- region: string (nullable = true)
 |-- product: string (nullable = true)
 |-- count: long (nullable = false)

In [89]:
gp_reg.where(gp_reg['count'] >5).show()

+------+--------+-----+
|region| product|count|
+------+--------+-----+
|  West| Printer|    6|
|  East|  Laptop|    6|
|  West|   Mouse|    6|
|  East|   Mouse|    8|
| South| Printer|    7|
|  East|Keyboard|   10|
| South|  Laptop|    6|
|  West|  Laptop|    9|
+------+--------+-----+

In [90]:
type(sales)

pyspark.sql.dataframe.DataFrame

In [91]:
sales.printSchema()

root
 |-- sale_id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- region: string (nullable = true)
 |-- product: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- total_sales: double (nullable = true)

In [92]:
sales.show()

+-------+----------+------+--------+--------+----------+-----------+
|sale_id|      date|region| product|quantity|unit_price|total_sales|
+-------+----------+------+--------+--------+----------+-----------+
|      1|2025-01-02|  East| Monitor|       8|  42106.76|  336854.08|
|      2|2025-01-03|  East|   Mouse|       3|   7448.26|   22344.78|
|      3|2025-01-04|  East| Printer|       4|  10429.24|   41716.96|
|      4|2025-01-05|  East| Printer|       2|  50678.91|  101357.82|
|      5|2025-01-06| South|   Mouse|       5|  43414.96|   217074.8|
|      6|2025-01-07| South| Printer|       9|  20740.43|  186663.87|
|      7|2025-01-08|  East|   Mouse|       3|  27081.11|   81243.33|
|      8|2025-01-09|  West|  Laptop|       3|  60265.86|  180797.58|
|      9|2025-01-10|  East| Printer|       9|   5021.09|   45189.81|
|     10|2025-01-11|  West|  Laptop|       2|  27286.45|    54572.9|
|     11|2025-01-12| South| Printer|       2|   48054.2|    96108.4|
|     12|2025-01-13|  East| Monitor|       7|  42894.77|  300263.39|
|     13|2025-01-14|  West|Keyboard|       1|  18485.21|   18485.21|
|     14|2025-01-15|  West| Monitor|       2|  30048.33|   60096.66|
|     15|2025-01-16| South|   Mouse|       4|  13347.38|   53389.52|
|     16|2025-01-17|  East|   Mouse|       2|  27962.94|   55925.88|
|     17|2025-01-18|  West| Monitor|       9|  67301.46|  605713.14|
|     18|2025-01-19| North| Printer|       2|   38008.6|    76017.2|
|     19|2025-01-20|  West|   Mouse|       9|  20024.95|  180224.55|
|     20|2025-01-21|  West| Printer|       9|  21091.01|  189819.09|
+-------+----------+------+--------+--------+----------+-----------+
only showing top 20 rows

In [94]:
discount=sales.withColumn("discnt",sales['total_sales'] - 0.10)

In [95]:
sales.show()

+-------+----------+------+--------+--------+----------+-----------+
|sale_id|      date|region| product|quantity|unit_price|total_sales|
+-------+----------+------+--------+--------+----------+-----------+
|      1|2025-01-02|  East| Monitor|       8|  42106.76|  336854.08|
|      2|2025-01-03|  East|   Mouse|       3|   7448.26|   22344.78|
|      3|2025-01-04|  East| Printer|       4|  10429.24|   41716.96|
|      4|2025-01-05|  East| Printer|       2|  50678.91|  101357.82|
|      5|2025-01-06| South|   Mouse|       5|  43414.96|   217074.8|
|      6|2025-01-07| South| Printer|       9|  20740.43|  186663.87|
|      7|2025-01-08|  East|   Mouse|       3|  27081.11|   81243.33|
|      8|2025-01-09|  West|  Laptop|       3|  60265.86|  180797.58|
|      9|2025-01-10|  East| Printer|       9|   5021.09|   45189.81|
|     10|2025-01-11|  West|  Laptop|       2|  27286.45|    54572.9|
|     11|2025-01-12| South| Printer|       2|   48054.2|    96108.4|
|     12|2025-01-13|  East| Monitor|       7|  42894.77|  300263.39|
|     13|2025-01-14|  West|Keyboard|       1|  18485.21|   18485.21|
|     14|2025-01-15|  West| Monitor|       2|  30048.33|   60096.66|
|     15|2025-01-16| South|   Mouse|       4|  13347.38|   53389.52|
|     16|2025-01-17|  East|   Mouse|       2|  27962.94|   55925.88|
|     17|2025-01-18|  West| Monitor|       9|  67301.46|  605713.14|
|     18|2025-01-19| North| Printer|       2|   38008.6|    76017.2|
|     19|2025-01-20|  West|   Mouse|       9|  20024.95|  180224.55|
|     20|2025-01-21|  West| Printer|       9|  21091.01|  189819.09|
+-------+----------+------+--------+--------+----------+-----------+
only showing top 20 rows

In [96]:
discount.show()

+-------+----------+------+--------+--------+----------+-----------+------------------+
|sale_id|      date|region| product|quantity|unit_price|total_sales|            discnt|
+-------+----------+------+--------+--------+----------+-----------+------------------+
|      1|2025-01-02|  East| Monitor|       8|  42106.76|  336854.08|336853.98000000004|
|      2|2025-01-03|  East|   Mouse|       3|   7448.26|   22344.78|          22344.68|
|      3|2025-01-04|  East| Printer|       4|  10429.24|   41716.96|          41716.86|
|      4|2025-01-05|  East| Printer|       2|  50678.91|  101357.82|         101357.72|
|      5|2025-01-06| South|   Mouse|       5|  43414.96|   217074.8|217074.69999999998|
|      6|2025-01-07| South| Printer|       9|  20740.43|  186663.87|         186663.77|
|      7|2025-01-08|  East|   Mouse|       3|  27081.11|   81243.33|          81243.23|
|      8|2025-01-09|  West|  Laptop|       3|  60265.86|  180797.58|180797.47999999998|
|      9|2025-01-10|  East| Printer|       9|   5021.09|   45189.81|          45189.71|
|     10|2025-01-11|  West|  Laptop|       2|  27286.45|    54572.9|           54572.8|
|     11|2025-01-12| South| Printer|       2|   48054.2|    96108.4| 96108.29999999999|
|     12|2025-01-13|  East| Monitor|       7|  42894.77|  300263.39|300263.29000000004|
|     13|2025-01-14|  West|Keyboard|       1|  18485.21|   18485.21|          18485.11|
|     14|2025-01-15|  West| Monitor|       2|  30048.33|   60096.66|60096.560000000005|
|     15|2025-01-16| South|   Mouse|       4|  13347.38|   53389.52|          53389.42|
|     16|2025-01-17|  East|   Mouse|       2|  27962.94|   55925.88|          55925.78|
|     17|2025-01-18|  West| Monitor|       9|  67301.46|  605713.14|         605713.04|
|     18|2025-01-19| North| Printer|       2|   38008.6|    76017.2| 76017.09999999999|
|     19|2025-01-20|  West|   Mouse|       9|  20024.95|  180224.55|180224.44999999998|
|     20|2025-01-21|  West| Printer|       9|  21091.01|  189819.09|         189818.99|
+-------+----------+------+--------+--------+----------+-----------+------------------+
only showing top 20 rows

In [97]:
p_name=discount.withColumnRenamed('product','Product_Name')

In [98]:
discount.show()

+-------+----------+------+--------+--------+----------+-----------+------------------+
|sale_id|      date|region| product|quantity|unit_price|total_sales|            discnt|
+-------+----------+------+--------+--------+----------+-----------+------------------+
|      1|2025-01-02|  East| Monitor|       8|  42106.76|  336854.08|336853.98000000004|
|      2|2025-01-03|  East|   Mouse|       3|   7448.26|   22344.78|          22344.68|
|      3|2025-01-04|  East| Printer|       4|  10429.24|   41716.96|          41716.86|
|      4|2025-01-05|  East| Printer|       2|  50678.91|  101357.82|         101357.72|
|      5|2025-01-06| South|   Mouse|       5|  43414.96|   217074.8|217074.69999999998|
|      6|2025-01-07| South| Printer|       9|  20740.43|  186663.87|         186663.77|
|      7|2025-01-08|  East|   Mouse|       3|  27081.11|   81243.33|          81243.23|
|      8|2025-01-09|  West|  Laptop|       3|  60265.86|  180797.58|180797.47999999998|
|      9|2025-01-10|  East| Printer|       9|   5021.09|   45189.81|          45189.71|
|     10|2025-01-11|  West|  Laptop|       2|  27286.45|    54572.9|           54572.8|
|     11|2025-01-12| South| Printer|       2|   48054.2|    96108.4| 96108.29999999999|
|     12|2025-01-13|  East| Monitor|       7|  42894.77|  300263.39|300263.29000000004|
|     13|2025-01-14|  West|Keyboard|       1|  18485.21|   18485.21|          18485.11|
|     14|2025-01-15|  West| Monitor|       2|  30048.33|   60096.66|60096.560000000005|
|     15|2025-01-16| South|   Mouse|       4|  13347.38|   53389.52|          53389.42|
|     16|2025-01-17|  East|   Mouse|       2|  27962.94|   55925.88|          55925.78|
|     17|2025-01-18|  West| Monitor|       9|  67301.46|  605713.14|         605713.04|
|     18|2025-01-19| North| Printer|       2|   38008.6|    76017.2| 76017.09999999999|
|     19|2025-01-20|  West|   Mouse|       9|  20024.95|  180224.55|180224.44999999998|
|     20|2025-01-21|  West| Printer|       9|  21091.01|  189819.09|         189818.99|
+-------+----------+------+--------+--------+----------+-----------+------------------+
only showing top 20 rows

In [99]:
p_name.show()

+-------+----------+------+------------+--------+----------+-----------+------------------+
|sale_id|      date|region|Product_Name|quantity|unit_price|total_sales|            discnt|
+-------+----------+------+------------+--------+----------+-----------+------------------+
|      1|2025-01-02|  East|     Monitor|       8|  42106.76|  336854.08|336853.98000000004|
|      2|2025-01-03|  East|       Mouse|       3|   7448.26|   22344.78|          22344.68|
|      3|2025-01-04|  East|     Printer|       4|  10429.24|   41716.96|          41716.86|
|      4|2025-01-05|  East|     Printer|       2|  50678.91|  101357.82|         101357.72|
|      5|2025-01-06| South|       Mouse|       5|  43414.96|   217074.8|217074.69999999998|
|      6|2025-01-07| South|     Printer|       9|  20740.43|  186663.87|         186663.77|
|      7|2025-01-08|  East|       Mouse|       3|  27081.11|   81243.33|          81243.23|
|      8|2025-01-09|  West|      Laptop|       3|  60265.86|  180797.58|180797.47999999998|
|      9|2025-01-10|  East|     Printer|       9|   5021.09|   45189.81|          45189.71|
|     10|2025-01-11|  West|      Laptop|       2|  27286.45|    54572.9|           54572.8|
|     11|2025-01-12| South|     Printer|       2|   48054.2|    96108.4| 96108.29999999999|
|     12|2025-01-13|  East|     Monitor|       7|  42894.77|  300263.39|300263.29000000004|
|     13|2025-01-14|  West|    Keyboard|       1|  18485.21|   18485.21|          18485.11|
|     14|2025-01-15|  West|     Monitor|       2|  30048.33|   60096.66|60096.560000000005|
|     15|2025-01-16| South|       Mouse|       4|  13347.38|   53389.52|          53389.42|
|     16|2025-01-17|  East|       Mouse|       2|  27962.94|   55925.88|          55925.78|
|     17|2025-01-18|  West|     Monitor|       9|  67301.46|  605713.14|         605713.04|
|     18|2025-01-19| North|     Printer|       2|   38008.6|    76017.2| 76017.09999999999|
|     19|2025-01-20|  West|       Mouse|       9|  20024.95|  180224.55|180224.44999999998|
|     20|2025-01-21|  West|     Printer|       9|  21091.01|  189819.09|         189818.99|
+-------+----------+------+------------+--------+----------+-----------+------------------+
only showing top 20 rows

In [100]:
p_name.describe().show()

+-------+------------------+------+------------+------------------+-----------------+------------------+------------------+
|summary|           sale_id|region|Product_Name|          quantity|       unit_price|       total_sales|            discnt|
+-------+------------------+------+------------+------------------+-----------------+------------------+------------------+
|  count|               100|   100|         100|               100|              100|               100|               100|
|   mean|              50.5|  NULL|        NULL|              4.77|34664.10420000001|167557.57240000003|167557.47239999997|
| stddev|29.011491975882016|  NULL|        NULL|2.7260620208304407|19088.47061434354|144167.33258819583|144167.33258819583|
|    min|                 1|  East|    Keyboard|                 1|           883.79|           4917.31|           4917.21|
|    max|               100|  West|     Printer|                 9|         69088.64|         621797.76|         621797.66|
+-------+------------------+------+------------+------------------+-----------------+------------------+------------------+