In [1]:
import os
os.environ["SPARK_HOME"] = r"C:\Spark\spark-3.5.7-bin-hadoop3"
os.environ["HADOOP_HOME"] = r"C:\hadoop"
os.environ["PYSPARK_PYTHON"] = "python"
os.environ["JAVA_HOME"] = r"C:\Program Files\Eclipse Adoptium\jdk-17.0.17.10-hotspot"
 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("importing data").master("local[*]").getOrCreate()
 
spark

In [2]:
from pyspark.sql import SparkSession

In [3]:
jsonfile = spark.read.option("multiline", True).json(r'C:\Users\user1\pyspark_env\complex_pyspark_practice.json')

In [4]:
type(jsonfile)

pyspark.sql.dataframe.DataFrame

In [5]:
jsonfile.printSchema()

root
 |-- clients: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- client_id: string (nullable = true)
 |    |    |-- country: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- projects: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |-- company: struct (nullable = true)
 |    |-- departments: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- dept_id: string (nullable = true)
 |    |    |    |-- employees: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |-- designation: string (nullable = true)
 |    |    |    |    |    |-- emp_id: string (nullable = true)
 |    |    |    |    |    |-- name: string (nullable = true)
 |    |    |    |    |    |-- projects: array (nullable = true)
 |    |    |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |    |    |-- duration_months: long (nullable = true)
 |    |    |    |    |    |    |    |-- name: string (nullable = true)
 |    |    |    |    |    |    |    |-- project_id: string (nullable = true)
 |    |    |    |    |    |    |    |-- status: string (nullable = true)
 |    |    |    |    |    |-- salary: struct (nullable = true)
 |    |    |    |    |    |    |-- base: long (nullable = true)
 |    |    |    |    |    |    |-- bonus: long (nullable = true)
 |    |    |    |    |    |-- skills: array (nullable = true)
 |    |    |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- name: string (nullable = true)
 |    |-- location: struct (nullable = true)
 |    |    |-- city: string (nullable = true)
 |    |    |-- country: string (nullable = true)
 |    |    |-- state: string (nullable = true)
 |    |-- name: string (nullable = true)
 |-- financials: struct (nullable = true)
 |    |-- expenses: long (nullable = true)
 |    |-- fiscal_year: long (nullable = true)
 |    |-- profit: long (nullable = true)
 |    |-- revenue: long (nullable = true)

In [6]:
jsonfile.columns

['clients', 'company', 'financials']

In [7]:
jsonfile.show(truncate=False)

+---------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------+
|clients                                                              |company                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |financials                        |
+---------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------+
|[{C101, India, Infosys, [P01, P04]}, {C102, USA, Google, [P02, P03]}]|{[{D001, [{Data Engineer, E1001, Arjun Kumar, [{6, ETL Migration, P01, Completed}, {4, Data Lake Setup, P02, Ongoing}], {75000, 10000}, [PySpark, SQL, Hadoop, Python]}, {Spark Developer, E1002, Sneha R, [{8, Streaming Pipeline, P03, Ongoing}], {82000, 12000}, [Spark Streaming, Kafka, Scala]}], Data Engineering}, {D002, [{ML Engineer, E2001, Rahul Mehta, [{10, Fraud Detection, P04, Completed}], {90000, 15000}, [Python, TensorFlow, Spark MLlib]}], Machine Learning}], {Chennai, India, Tamil Nadu}, Clahan Technologies}|{7200000, 2025, 5300000, 12500000}|
+---------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------------------------------+

In [13]:
jsonfile.collect()

[Row(clients=[Row(client_id='C101', country='India', name='Infosys', projects=['P01', 'P04']), Row(client_id='C102', country='USA', name='Google', projects=['P02', 'P03'])], company=Row(departments=[Row(dept_id='D001', employees=[Row(designation='Data Engineer', emp_id='E1001', name='Arjun Kumar', projects=[Row(duration_months=6, name='ETL Migration', project_id='P01', status='Completed'), Row(duration_months=4, name='Data Lake Setup', project_id='P02', status='Ongoing')], salary=Row(base=75000, bonus=10000), skills=['PySpark', 'SQL', 'Hadoop', 'Python']), Row(designation='Spark Developer', emp_id='E1002', name='Sneha R', projects=[Row(duration_months=8, name='Streaming Pipeline', project_id='P03', status='Ongoing')], salary=Row(base=82000, bonus=12000), skills=['Spark Streaming', 'Kafka', 'Scala'])], name='Data Engineering'), Row(dept_id='D002', employees=[Row(designation='ML Engineer', emp_id='E2001', name='Rahul Mehta', projects=[Row(duration_months=10, name='Fraud Detection', project_id='P04', status='Completed')], salary=Row(base=90000, bonus=15000), skills=['Python', 'TensorFlow', 'Spark MLlib'])], name='Machine Learning')], location=Row(city='Chennai', country='India', state='Tamil Nadu'), name='Clahan Technologies'), financials=Row(expenses=7200000, fiscal_year=2025, profit=5300000, revenue=12500000))]

In [9]:
jsonfile.schema

StructType([StructField('clients', ArrayType(StructType([StructField('client_id', StringType(), True), StructField('country', StringType(), True), StructField('name', StringType(), True), StructField('projects', ArrayType(StringType(), True), True)]), True), True), StructField('company', StructType([StructField('departments', ArrayType(StructType([StructField('dept_id', StringType(), True), StructField('employees', ArrayType(StructType([StructField('designation', StringType(), True), StructField('emp_id', StringType(), True), StructField('name', StringType(), True), StructField('projects', ArrayType(StructType([StructField('duration_months', LongType(), True), StructField('name', StringType(), True), StructField('project_id', StringType(), True), StructField('status', StringType(), True)]), True), True), StructField('salary', StructType([StructField('base', LongType(), True), StructField('bonus', LongType(), True)]), True), StructField('skills', ArrayType(StringType(), True), True)]), True), True), StructField('name', StringType(), True)]), True), True), StructField('location', StructType([StructField('city', StringType(), True), StructField('country', StringType(), True), StructField('state', StringType(), True)]), True), StructField('name', StringType(), True)]), True), StructField('financials', StructType([StructField('expenses', LongType(), True), StructField('fiscal_year', LongType(), True), StructField('profit', LongType(), True), StructField('revenue', LongType(), True)]), True)])

In [ ]:
jsonfile.write.mode("overwrite").parquet("C:/tmp1/test_parquet")

In [ ]:
pqfile=spark.read.format('Parquet').load(r'C:\Users\user1\pyspark_env\result\_temporary\0\task_202511062354032962255790247541795_0011_m_000000\part-00000-f712b79c-df80-4707-9fc4-5b7ddbd8bce7-c000.snappy.parquet')

In [ ]:
pqfile.printSchema()

In [ ]:
type(pqfile)

In [14]:
import os
print("HADOOP_HOME:", os.environ.get("HADOOP_HOME"))
!where winutils

HADOOP_HOME: C:\hadoop

INFO: Could not find files for the given pattern(s).

In [ ]:
df = spark.createDataFrame([(1, "test")], ["id", "name"])
df.write.mode("overwrite").parquet("C:/tmp/test_parquet")