In [1]:
import os
os.environ["SPARK_HOME"] = r"C:\Spark\spark-3.5.7-bin-hadoop3"
os.environ["HADOOP_HOME"] = r"C:\hadoop"
os.environ["PYSPARK_PYTHON"] = "python"
os.environ["JAVA_HOME"] = r"C:\Program Files\Eclipse Adoptium\jdk-17.0.17.10-hotspot"

In [40]:
from pyspark.sql import SparkSession

In [41]:
spark = SparkSession.builder.appName("pqt").master("local[3]").getOrCreate()
spark

Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: org.apache.spark.SparkException: Only one SparkContext should be running in this JVM (see SPARK-2243).The currently running SparkContext was created at:
org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:77)
java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:500)
java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:481)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
py4j.ClientServerConnection.run(ClientServerConnection.java:106)
java.base/java.lang.Thread.run(Thread.java:840)
	at org.apache.spark.SparkContext$.$anonfun$assertNoOtherContextIsRunning$2(SparkContext.scala:2840)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.SparkContext$.assertNoOtherContextIsRunning(SparkContext.scala:2837)
	at org.apache.spark.SparkContext$.markPartiallyConstructed(SparkContext.scala:2927)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:99)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:500)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:481)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)

In [5]:
df = spark.read.csv(r"C:\Users\user1\pyspark_env\student_data_clean.csv", header=True, inferSchema=True)
df.write.mode("overwrite").parquet(r"C:\Users\user1\pyspark_env\paruetfiles\student_data_clean.parquet")

In [6]:
d1 = spark.read.csv(r"C:\Users\user1\pyspark_env\student_data_with_nulls.csv", header=True, inferSchema=True)
d1.write.mode("append").parquet(r"C:\Users\user1\pyspark_env\paruetfiles\std\student_data_clean_null.parquet")

In [4]:
std_prqt=spark.read.format('parquet').load(r"C:\Users\user1\pyspark_env\studentdata_nulls.parquet")

In [5]:
std_prqt.printSchema()

root
 |-- student_id: integer (nullable = true)
 |-- student_name: string (nullable = true)
 |-- age: double (nullable = true)
 |-- gender: string (nullable = true)
 |-- course: string (nullable = true)
 |-- admission_date: date (nullable = true)
 |-- city: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- marks: double (nullable = true)

In [6]:
std_prqt.count() #to fetch the number of records

100

In [7]:
std_prqt.show()

+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|student_id|student_name| age|gender|          course|admission_date|     city|grade|marks|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|         1|   Student_1|NULL|Female|           Civil|    2022-09-30|Hyderabad|    C| 70.0|
|         2|   Student_2|18.0|Female|           Civil|    2023-03-21|Bangalore|    D| 60.0|
|         3|   Student_3|21.0|  Male|Computer Science|    2022-11-17|     Pune|    D| 70.0|
|         4|   Student_4|22.0|  Male|      Mechanical|    2022-10-09|    Delhi|    C| 80.0|
|         5|   Student_5|18.0|  NULL|      Electrical|    2023-02-20|Bangalore| NULL| 60.0|
|         6|   Student_6|21.0|Female|             ECE|    2022-07-20|     Pune|    B| 70.0|
|         7|   Student_7|21.0|  Male|              IT|    2022-11-09|Bangalore|    D| 80.0|
|         8|   Student_8|18.0|  Male|Computer Science|    2022-12-30|    Delhi|    B| 80.0|
|         9|   Student_9|NULL|Female|           Civil|    2022-06-15|    Delhi|    A| 50.0|
|        10|  Student_10|20.0|  Male|             ECE|    2022-11-10|Hyderabad|    A| 80.0|
|        11|  Student_11|21.0|  NULL|Computer Science|    2022-07-03|     NULL| NULL| 90.0|
|        12|  Student_12|23.0|Female|           Civil|    2022-10-09|  Chennai| NULL| 80.0|
|        13|  Student_13|20.0|Female|              IT|          NULL|    Delhi|    C| 50.0|
|        14|  Student_14|20.0|Female|      Electrical|    2023-01-17|    Delhi|    C| 60.0|
|        15|  Student_15|21.0|Female|      Mechanical|    2022-07-15|     NULL|    A| 50.0|
|        16|  Student_16|19.0|  Male|      Electrical|    2023-05-14|  Chennai|    A| 60.0|
|        17|  Student_17|18.0|  Male|             ECE|          NULL|Hyderabad|    A| 70.0|
|        18|  Student_18|19.0|  Male|             ECE|    2022-09-04|  Chennai|    D| 70.0|
|        19|  Student_19|NULL|  Male|              IT|    2022-09-09|  Chennai|    A| 60.0|
|        20|  Student_20|20.0|  Male|Computer Science|    2022-10-04|Bangalore| NULL| 70.0|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
only showing top 20 rows

In [8]:
std_prqt.describe().show()

+-------+------------------+------------+------------------+------+----------+---------+-----+------------------+
|summary|        student_id|student_name|               age|gender|    course|     city|grade|             marks|
+-------+------------------+------------+------------------+------+----------+---------+-----+------------------+
|  count|               100|          98|                91|    92|       100|       86|   76|                94|
|   mean|              50.5|        NULL| 20.32967032967033|  NULL|      NULL|     NULL| NULL| 72.44680851063829|
| stddev|29.011491975882016|        NULL|1.5709511984424176|  NULL|      NULL|     NULL| NULL|14.932548717826089|
|    min|                 1|   Student_1|              18.0|Female|     Civil|Bangalore|    A|              50.0|
|    max|               100|  Student_99|              23.0|  Male|Mechanical|     Pune|    D|             100.0|
+-------+------------------+------------+------------------+------+----------+---------+-----+------------------+

In [9]:
std1=std_prqt.na.drop(how='all')
std1.show()

+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|student_id|student_name| age|gender|          course|admission_date|     city|grade|marks|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|         1|   Student_1|NULL|Female|           Civil|    2022-09-30|Hyderabad|    C| 70.0|
|         2|   Student_2|18.0|Female|           Civil|    2023-03-21|Bangalore|    D| 60.0|
|         3|   Student_3|21.0|  Male|Computer Science|    2022-11-17|     Pune|    D| 70.0|
|         4|   Student_4|22.0|  Male|      Mechanical|    2022-10-09|    Delhi|    C| 80.0|
|         5|   Student_5|18.0|  NULL|      Electrical|    2023-02-20|Bangalore| NULL| 60.0|
|         6|   Student_6|21.0|Female|             ECE|    2022-07-20|     Pune|    B| 70.0|
|         7|   Student_7|21.0|  Male|              IT|    2022-11-09|Bangalore|    D| 80.0|
|         8|   Student_8|18.0|  Male|Computer Science|    2022-12-30|    Delhi|    B| 80.0|
|         9|   Student_9|NULL|Female|           Civil|    2022-06-15|    Delhi|    A| 50.0|
|        10|  Student_10|20.0|  Male|             ECE|    2022-11-10|Hyderabad|    A| 80.0|
|        11|  Student_11|21.0|  NULL|Computer Science|    2022-07-03|     NULL| NULL| 90.0|
|        12|  Student_12|23.0|Female|           Civil|    2022-10-09|  Chennai| NULL| 80.0|
|        13|  Student_13|20.0|Female|              IT|          NULL|    Delhi|    C| 50.0|
|        14|  Student_14|20.0|Female|      Electrical|    2023-01-17|    Delhi|    C| 60.0|
|        15|  Student_15|21.0|Female|      Mechanical|    2022-07-15|     NULL|    A| 50.0|
|        16|  Student_16|19.0|  Male|      Electrical|    2023-05-14|  Chennai|    A| 60.0|
|        17|  Student_17|18.0|  Male|             ECE|          NULL|Hyderabad|    A| 70.0|
|        18|  Student_18|19.0|  Male|             ECE|    2022-09-04|  Chennai|    D| 70.0|
|        19|  Student_19|NULL|  Male|              IT|    2022-09-09|  Chennai|    A| 60.0|
|        20|  Student_20|20.0|  Male|Computer Science|    2022-10-04|Bangalore| NULL| 70.0|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
only showing top 20 rows

In [10]:
std1.count()

100

In [11]:
std2=std1.na.drop(subset='age')
std2.show()

+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|student_id|student_name| age|gender|          course|admission_date|     city|grade|marks|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|         2|   Student_2|18.0|Female|           Civil|    2023-03-21|Bangalore|    D| 60.0|
|         3|   Student_3|21.0|  Male|Computer Science|    2022-11-17|     Pune|    D| 70.0|
|         4|   Student_4|22.0|  Male|      Mechanical|    2022-10-09|    Delhi|    C| 80.0|
|         5|   Student_5|18.0|  NULL|      Electrical|    2023-02-20|Bangalore| NULL| 60.0|
|         6|   Student_6|21.0|Female|             ECE|    2022-07-20|     Pune|    B| 70.0|
|         7|   Student_7|21.0|  Male|              IT|    2022-11-09|Bangalore|    D| 80.0|
|         8|   Student_8|18.0|  Male|Computer Science|    2022-12-30|    Delhi|    B| 80.0|
|        10|  Student_10|20.0|  Male|             ECE|    2022-11-10|Hyderabad|    A| 80.0|
|        11|  Student_11|21.0|  NULL|Computer Science|    2022-07-03|     NULL| NULL| 90.0|
|        12|  Student_12|23.0|Female|           Civil|    2022-10-09|  Chennai| NULL| 80.0|
|        13|  Student_13|20.0|Female|              IT|          NULL|    Delhi|    C| 50.0|
|        14|  Student_14|20.0|Female|      Electrical|    2023-01-17|    Delhi|    C| 60.0|
|        15|  Student_15|21.0|Female|      Mechanical|    2022-07-15|     NULL|    A| 50.0|
|        16|  Student_16|19.0|  Male|      Electrical|    2023-05-14|  Chennai|    A| 60.0|
|        17|  Student_17|18.0|  Male|             ECE|          NULL|Hyderabad|    A| 70.0|
|        18|  Student_18|19.0|  Male|             ECE|    2022-09-04|  Chennai|    D| 70.0|
|        20|  Student_20|20.0|  Male|Computer Science|    2022-10-04|Bangalore| NULL| 70.0|
|        21|  Student_21|19.0|Female|             ECE|    2023-02-10|     NULL| NULL| 80.0|
|        22|  Student_22|21.0|  Male|Computer Science|    2022-12-04|     NULL| NULL|100.0|
|        23|  Student_23|19.0|Female|             ECE|    2022-12-16|     Pune|    A| 80.0|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
only showing top 20 rows

In [12]:
std2.count()

91

In [13]:
std3=std1.na.drop(subset='age',thresh=1)
std3.show(70)

+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|student_id|student_name| age|gender|          course|admission_date|     city|grade|marks|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|         2|   Student_2|18.0|Female|           Civil|    2023-03-21|Bangalore|    D| 60.0|
|         3|   Student_3|21.0|  Male|Computer Science|    2022-11-17|     Pune|    D| 70.0|
|         4|   Student_4|22.0|  Male|      Mechanical|    2022-10-09|    Delhi|    C| 80.0|
|         5|   Student_5|18.0|  NULL|      Electrical|    2023-02-20|Bangalore| NULL| 60.0|
|         6|   Student_6|21.0|Female|             ECE|    2022-07-20|     Pune|    B| 70.0|
|         7|   Student_7|21.0|  Male|              IT|    2022-11-09|Bangalore|    D| 80.0|
|         8|   Student_8|18.0|  Male|Computer Science|    2022-12-30|    Delhi|    B| 80.0|
|        10|  Student_10|20.0|  Male|             ECE|    2022-11-10|Hyderabad|    A| 80.0|
|        11|  Student_11|21.0|  NULL|Computer Science|    2022-07-03|     NULL| NULL| 90.0|
|        12|  Student_12|23.0|Female|           Civil|    2022-10-09|  Chennai| NULL| 80.0|
|        13|  Student_13|20.0|Female|              IT|          NULL|    Delhi|    C| 50.0|
|        14|  Student_14|20.0|Female|      Electrical|    2023-01-17|    Delhi|    C| 60.0|
|        15|  Student_15|21.0|Female|      Mechanical|    2022-07-15|     NULL|    A| 50.0|
|        16|  Student_16|19.0|  Male|      Electrical|    2023-05-14|  Chennai|    A| 60.0|
|        17|  Student_17|18.0|  Male|             ECE|          NULL|Hyderabad|    A| 70.0|
|        18|  Student_18|19.0|  Male|             ECE|    2022-09-04|  Chennai|    D| 70.0|
|        20|  Student_20|20.0|  Male|Computer Science|    2022-10-04|Bangalore| NULL| 70.0|
|        21|  Student_21|19.0|Female|             ECE|    2023-02-10|     NULL| NULL| 80.0|
|        22|  Student_22|21.0|  Male|Computer Science|    2022-12-04|     NULL| NULL|100.0|
|        23|  Student_23|19.0|Female|             ECE|    2022-12-16|     Pune|    A| 80.0|
|        24|  Student_24|23.0|  Male|      Mechanical|    2022-10-29|     NULL|    B| 60.0|
|        25|  Student_25|22.0|Female|      Mechanical|    2023-03-31|     NULL|    D| 80.0|
|        26|  Student_26|19.0|  Male|             ECE|    2022-10-09|     Pune|    A| 80.0|
|        27|  Student_27|19.0|Female|      Mechanical|    2022-09-20|     NULL|    A| 80.0|
|        28|        NULL|19.0|Female|      Electrical|    2022-11-16|     Pune|    A| 50.0|
|        29|  Student_29|19.0|  Male|             ECE|    2022-07-03|     Pune|    C| 70.0|
|        30|  Student_30|19.0|  NULL|           Civil|    2023-02-19|Hyderabad|    C| 90.0|
|        31|  Student_31|21.0|Female|           Civil|    2023-03-31|Hyderabad|    D| 50.0|
|        32|  Student_32|19.0|  NULL|           Civil|    2022-06-06|Hyderabad|    D| 50.0|
|        33|  Student_33|20.0|  NULL|             ECE|    2022-09-24|    Delhi| NULL| 60.0|
|        34|  Student_34|20.0|  Male|              IT|    2022-07-28|Hyderabad|    B| 80.0|
|        35|  Student_35|18.0|Female|              IT|    2022-09-12|  Chennai|    A| 90.0|
|        36|  Student_36|19.0|Female|             ECE|    2022-06-13|     Pune|    B| 50.0|
|        37|  Student_37|19.0|  Male|      Electrical|    2022-10-21|     Pune|    B| 50.0|
|        38|  Student_38|18.0|Female|      Electrical|    2023-04-10|Bangalore|    A| 50.0|
|        39|  Student_39|20.0|  Male|Computer Science|    2022-07-30|     Pune|    D| 80.0|
|        40|  Student_40|18.0|Female|             ECE|    2023-04-04|    Delhi|    B| 80.0|
|        41|  Student_41|22.0|  Male|      Mechanical|    2023-05-12|    Delhi|    B| NULL|
|        42|  Student_42|21.0|  Male|              IT|    2023-01-25|Bangalore|    A| 80.0|
|        44|  Student_44|18.0|  Male|      Mechanical|          NULL|  Chennai|    D| 60.0|
|        45|        NULL|22.0|Female|      Mechanical|    2023-01-08|    Delhi|    B| 80.0|
|        46|  Student_46|18.0|  Male|              IT|    2022-09-04|  Chennai| NULL| 80.0|
|        47|  Student_47|23.0|  NULL|      Mechanical|    2023-05-06|     Pune|    B| 80.0|
|        48|  Student_48|22.0|Female|      Mechanical|    2022-11-15|Bangalore|    C| 60.0|
|        49|  Student_49|18.0|  Male|             ECE|    2023-01-01|  Chennai|    B| 70.0|
|        50|  Student_50|18.0|Female|Computer Science|    2023-04-10|    Delhi|    B| 80.0|
|        51|  Student_51|22.0|Female|Computer Science|    2023-05-23|  Chennai|    C| NULL|
|        52|  Student_52|20.0|Female|      Electrical|    2023-02-23|  Chennai| NULL| 90.0|
|        53|  Student_53|20.0|Female|      Mechanical|    2023-05-08|    Delhi|    C| 50.0|
|        55|  Student_55|18.0|Female|      Mechanical|    2022-07-23|  Chennai| NULL|100.0|
|        57|  Student_57|22.0|Female|      Electrical|    2022-10-19|Bangalore|    A| 90.0|
|        58|  Student_58|18.0|  Male|             ECE|    2023-05-31|  Chennai|    D| 60.0|
|        59|  Student_59|21.0|  Male|      Mechanical|    2023-05-30|     NULL|    C| 60.0|
|        60|  Student_60|20.0|  Male|              IT|    2022-07-28|     Pune|    D| 90.0|
|        61|  Student_61|22.0|Female|      Mechanical|    2022-12-08|     Pune|    A| 50.0|
|        62|  Student_62|20.0|Female|           Civil|    2023-04-13|    Delhi| NULL| NULL|
|        63|  Student_63|21.0|  NULL|              IT|    2023-04-01|     NULL|    A| 80.0|
|        64|  Student_64|23.0|  Male|      Mechanical|    2023-02-27|     NULL|    D| 50.0|
|        65|  Student_65|19.0|Female|              IT|    2022-06-28|     Pune| NULL| NULL|
|        66|  Student_66|21.0|Female|Computer Science|    2023-01-06|    Delhi| NULL|100.0|
|        67|  Student_67|23.0|Female|Computer Science|    2023-04-08|     NULL|    B| 80.0|
|        68|  Student_68|20.0|Female|              IT|    2022-11-24|Hyderabad| NULL| 90.0|
|        69|  Student_69|22.0|Female|Computer Science|    2022-09-07|  Chennai| NULL| 50.0|
|        70|  Student_70|22.0|  NULL|      Electrical|    2022-06-23|    Delhi| NULL|100.0|
|        71|  Student_71|19.0|Female|      Electrical|    2022-11-20|    Delhi|    D| 60.0|
|        72|  Student_72|21.0|  Male|              IT|    2022-09-26|Hyderabad|    C| 70.0|
|        74|  Student_74|23.0|Female|              IT|    2022-09-06|Bangalore|    C| 50.0|
|        75|  Student_75|21.0|Female|      Mechanical|    2022-09-14|Hyderabad|    A|100.0|
|        76|  Student_76|23.0|Female|      Mechanical|    2022-08-08|Bangalore| NULL| 70.0|
|        77|  Student_77|21.0|  Male|Computer Science|    2023-05-02|Hyderabad|    D| 60.0|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
only showing top 70 rows

In [14]:
std3.describe().show(truncate=True)

+-------+------------------+------------+------------------+------+----------+---------+-----+-----------------+
|summary|        student_id|student_name|               age|gender|    course|     city|grade|            marks|
+-------+------------------+------------+------------------+------+----------+---------+-----+-----------------+
|  count|                91|          89|                91|    83|        91|       78|   68|               86|
|   mean|50.637362637362635|        NULL| 20.32967032967033|  NULL|      NULL|     NULL| NULL|72.67441860465117|
| stddev| 28.63467846414223|        NULL|1.5709511984424176|  NULL|      NULL|     NULL| NULL|15.29509099291443|
|    min|                 2|  Student_10|              18.0|Female|     Civil|Bangalore|    A|             50.0|
|    max|               100|  Student_98|              23.0|  Male|Mechanical|     Pune|    D|            100.0|
+-------+------------------+------------+------------------+------+----------+---------+-----+-----------------+

In [15]:
std4=std_prqt.fillna(20)
std4.show() # depending on data you provided in the fillna parameter

+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|student_id|student_name| age|gender|          course|admission_date|     city|grade|marks|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|         1|   Student_1|20.0|Female|           Civil|    2022-09-30|Hyderabad|    C| 70.0|
|         2|   Student_2|18.0|Female|           Civil|    2023-03-21|Bangalore|    D| 60.0|
|         3|   Student_3|21.0|  Male|Computer Science|    2022-11-17|     Pune|    D| 70.0|
|         4|   Student_4|22.0|  Male|      Mechanical|    2022-10-09|    Delhi|    C| 80.0|
|         5|   Student_5|18.0|  NULL|      Electrical|    2023-02-20|Bangalore| NULL| 60.0|
|         6|   Student_6|21.0|Female|             ECE|    2022-07-20|     Pune|    B| 70.0|
|         7|   Student_7|21.0|  Male|              IT|    2022-11-09|Bangalore|    D| 80.0|
|         8|   Student_8|18.0|  Male|Computer Science|    2022-12-30|    Delhi|    B| 80.0|
|         9|   Student_9|20.0|Female|           Civil|    2022-06-15|    Delhi|    A| 50.0|
|        10|  Student_10|20.0|  Male|             ECE|    2022-11-10|Hyderabad|    A| 80.0|
|        11|  Student_11|21.0|  NULL|Computer Science|    2022-07-03|     NULL| NULL| 90.0|
|        12|  Student_12|23.0|Female|           Civil|    2022-10-09|  Chennai| NULL| 80.0|
|        13|  Student_13|20.0|Female|              IT|          NULL|    Delhi|    C| 50.0|
|        14|  Student_14|20.0|Female|      Electrical|    2023-01-17|    Delhi|    C| 60.0|
|        15|  Student_15|21.0|Female|      Mechanical|    2022-07-15|     NULL|    A| 50.0|
|        16|  Student_16|19.0|  Male|      Electrical|    2023-05-14|  Chennai|    A| 60.0|
|        17|  Student_17|18.0|  Male|             ECE|          NULL|Hyderabad|    A| 70.0|
|        18|  Student_18|19.0|  Male|             ECE|    2022-09-04|  Chennai|    D| 70.0|
|        19|  Student_19|20.0|  Male|              IT|    2022-09-09|  Chennai|    A| 60.0|
|        20|  Student_20|20.0|  Male|Computer Science|    2022-10-04|Bangalore| NULL| 70.0|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
only showing top 20 rows

In [16]:
std5=std_prqt.na.fill({'gender':'O',"age":0})
std5.show()

+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|student_id|student_name| age|gender|          course|admission_date|     city|grade|marks|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|         1|   Student_1| 0.0|Female|           Civil|    2022-09-30|Hyderabad|    C| 70.0|
|         2|   Student_2|18.0|Female|           Civil|    2023-03-21|Bangalore|    D| 60.0|
|         3|   Student_3|21.0|  Male|Computer Science|    2022-11-17|     Pune|    D| 70.0|
|         4|   Student_4|22.0|  Male|      Mechanical|    2022-10-09|    Delhi|    C| 80.0|
|         5|   Student_5|18.0|     O|      Electrical|    2023-02-20|Bangalore| NULL| 60.0|
|         6|   Student_6|21.0|Female|             ECE|    2022-07-20|     Pune|    B| 70.0|
|         7|   Student_7|21.0|  Male|              IT|    2022-11-09|Bangalore|    D| 80.0|
|         8|   Student_8|18.0|  Male|Computer Science|    2022-12-30|    Delhi|    B| 80.0|
|         9|   Student_9| 0.0|Female|           Civil|    2022-06-15|    Delhi|    A| 50.0|
|        10|  Student_10|20.0|  Male|             ECE|    2022-11-10|Hyderabad|    A| 80.0|
|        11|  Student_11|21.0|     O|Computer Science|    2022-07-03|     NULL| NULL| 90.0|
|        12|  Student_12|23.0|Female|           Civil|    2022-10-09|  Chennai| NULL| 80.0|
|        13|  Student_13|20.0|Female|              IT|          NULL|    Delhi|    C| 50.0|
|        14|  Student_14|20.0|Female|      Electrical|    2023-01-17|    Delhi|    C| 60.0|
|        15|  Student_15|21.0|Female|      Mechanical|    2022-07-15|     NULL|    A| 50.0|
|        16|  Student_16|19.0|  Male|      Electrical|    2023-05-14|  Chennai|    A| 60.0|
|        17|  Student_17|18.0|  Male|             ECE|          NULL|Hyderabad|    A| 70.0|
|        18|  Student_18|19.0|  Male|             ECE|    2022-09-04|  Chennai|    D| 70.0|
|        19|  Student_19| 0.0|  Male|              IT|    2022-09-09|  Chennai|    A| 60.0|
|        20|  Student_20|20.0|  Male|Computer Science|    2022-10-04|Bangalore| NULL| 70.0|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
only showing top 20 rows

In [17]:
std_prqt.show()

+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|student_id|student_name| age|gender|          course|admission_date|     city|grade|marks|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
|         1|   Student_1|NULL|Female|           Civil|    2022-09-30|Hyderabad|    C| 70.0|
|         2|   Student_2|18.0|Female|           Civil|    2023-03-21|Bangalore|    D| 60.0|
|         3|   Student_3|21.0|  Male|Computer Science|    2022-11-17|     Pune|    D| 70.0|
|         4|   Student_4|22.0|  Male|      Mechanical|    2022-10-09|    Delhi|    C| 80.0|
|         5|   Student_5|18.0|  NULL|      Electrical|    2023-02-20|Bangalore| NULL| 60.0|
|         6|   Student_6|21.0|Female|             ECE|    2022-07-20|     Pune|    B| 70.0|
|         7|   Student_7|21.0|  Male|              IT|    2022-11-09|Bangalore|    D| 80.0|
|         8|   Student_8|18.0|  Male|Computer Science|    2022-12-30|    Delhi|    B| 80.0|
|         9|   Student_9|NULL|Female|           Civil|    2022-06-15|    Delhi|    A| 50.0|
|        10|  Student_10|20.0|  Male|             ECE|    2022-11-10|Hyderabad|    A| 80.0|
|        11|  Student_11|21.0|  NULL|Computer Science|    2022-07-03|     NULL| NULL| 90.0|
|        12|  Student_12|23.0|Female|           Civil|    2022-10-09|  Chennai| NULL| 80.0|
|        13|  Student_13|20.0|Female|              IT|          NULL|    Delhi|    C| 50.0|
|        14|  Student_14|20.0|Female|      Electrical|    2023-01-17|    Delhi|    C| 60.0|
|        15|  Student_15|21.0|Female|      Mechanical|    2022-07-15|     NULL|    A| 50.0|
|        16|  Student_16|19.0|  Male|      Electrical|    2023-05-14|  Chennai|    A| 60.0|
|        17|  Student_17|18.0|  Male|             ECE|          NULL|Hyderabad|    A| 70.0|
|        18|  Student_18|19.0|  Male|             ECE|    2022-09-04|  Chennai|    D| 70.0|
|        19|  Student_19|NULL|  Male|              IT|    2022-09-09|  Chennai|    A| 60.0|
|        20|  Student_20|20.0|  Male|Computer Science|    2022-10-04|Bangalore| NULL| 70.0|
+----------+------------+----+------+----------------+--------------+---------+-----+-----+
only showing top 20 rows

In [ ]:
#views
#a view in a spark is like atemporory tables that exists only when the spark sessionn is active 
#you can query using standard sql Syntaax
        #1.Local Temporary view
        #2.global temporary view
#cast dataframes in to --> views

In [18]:
std_prqt.createTempView("V_Std")

In [19]:
spark.catalog.listTables()

[Table(name='V_Std', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

In [21]:
result=spark.sql("select student_id,age from V_Std where age > 15")
result.show()

+----------+----+
|student_id| age|
+----------+----+
|         2|18.0|
|         3|21.0|
|         4|22.0|
|         5|18.0|
|         6|21.0|
|         7|21.0|
|         8|18.0|
|        10|20.0|
|        11|21.0|
|        12|23.0|
|        13|20.0|
|        14|20.0|
|        15|21.0|
|        16|19.0|
|        17|18.0|
|        18|19.0|
|        20|20.0|
|        21|19.0|
|        22|21.0|
|        23|19.0|
+----------+----+
only showing top 20 rows

In [22]:
result=spark.sql("select course,count(*) cnt from V_std group by course")
result.show()

+----------------+---+
|          course|cnt|
+----------------+---+
|      Mechanical| 18|
|             ECE| 17|
|              IT| 15|
|           Civil| 17|
|Computer Science| 18|
|      Electrical| 15|
+----------------+---+

In [23]:
result.printSchema()
result.count()

root
 |-- course: string (nullable = true)
 |-- cnt: long (nullable = false)

6

In [25]:
std_prqt.printSchema()
std_prqt.count()

root
 |-- student_id: integer (nullable = true)
 |-- student_name: string (nullable = true)
 |-- age: double (nullable = true)
 |-- gender: string (nullable = true)
 |-- course: string (nullable = true)
 |-- admission_date: date (nullable = true)
 |-- city: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- marks: double (nullable = true)

100

In [26]:
spark1 = SparkSession.builder.appName("views").master("local[3]").getOrCreate()
spark1

In [28]:
result=spark1.sql("select course,count(*) cnt from V_std group by course")
result.show()

+----------------+---+
|          course|cnt|
+----------------+---+
|      Mechanical| 18|
|             ECE| 17|
|              IT| 15|
|           Civil| 17|
|Computer Science| 18|
|      Electrical| 15|
+----------------+---+

In [29]:
spark.stop()
print(" SparkSession stopped successfully")

 SparkSession stopped successfully

In [33]:
result=spark.sql("select course,count(*) cnt from V_std group by course")
result.show()

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `V_std` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 32;
'Aggregate ['course], ['course, count(1) AS cnt#1610L]
+- 'UnresolvedRelation [V_std], [], false

In [34]:
result.createOrReplaceGlobalTempView("G_view")

In [37]:
spark.catalog.listTables()

[]

In [38]:
spark1.stop()
print(" SparkSession stopped successfully")

 SparkSession stopped successfully